/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0efe7;
    color: #202060;
    margin: 0;
    padding: 0;
}

a {
    color: #202060;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.osmcode {
    background-color: #202060;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

.header {
    margin: 0 auto;
    padding: 2px 0;
    max-width: 900px;
    text-align: center;
    color: #f0f0f0;
    font-size: 120%;
}

.header a {
    text-decoration: none;
    color: #f0f0f0;
    text-shadow: 0 0 3px #ffffff;
}

.large {
    padding-top: 8px;
    margin-bottom: 20px;
}

.large a {
    font-size: 200%;
}

.content {
    margin: 0 auto;
    max-width: 900px;
}

.footer {
    text-align: center;
    font-size: 80%;
    border-top: 1px solid #c0c0c0;
    margin: 10px auto 2px auto;
    padding-top: 2px;
    max-width: 900px;
}

/*****************************************************************************/

div.boxes {
    min-height: 600px;
    padding-left: 20px;
}

div.boxes div.box {
    position: relative;
    float: left;
    width: 360px;
    margin: 40px 10px 10px 40px;
}

div.box {
    border: 1px solid #202060;
    background-color: #ffffff;
    margin: 40px 10px 10px 20px;
    border-radius: 10px;
    height: 140px;
}

div.box img {
    position: relative;
    top: -20px;
    left: -20px;
    width: 80px;
    height: 80px;
}

div.box a {
    color: #202060;
    text-decoration: none;
}

div.box a:hover {
    text-decoration: underline;
}

div.innerbox {
    position: relative;
    top: -80px;
    margin: 10px 10px 10px 80px;
}

div.box h2 {
    margin-top: 5px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
