/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
    font-family: "Droid Sans", sans-serif;
    background-color: #f0efe7;
    color: #202060;
    margin: 0;
    padding: 0;
}

a {
    color: #202060;
}

p {
    margin-top: 8px;
    text-align: justify;
}

h1,h2,h3,h4 {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

h1 {
    border-bottom: 1px solid #202060;
}

h2 {
    margin: 30px 0 5px 0;
}

h3 {
    margin: 10px 0 4px 0;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

main {
    position: relative;
    margin: 0 auto;
    max-width: 910px;
    padding: 10px;
    line-height: 1.4;
}

/*****************************************************************************/
/*
/* Menu
/*
/*****************************************************************************/

@media print {
    #menu {
        display: none;
    }
}

#menu {
   /* background-color: rgba(32, 32, 96, 0.5);*/
    background-color: #202060;
    text-align: center;
    font-size: 90%;
}

@media all and (min-width: 680px) and (min-device-width: 680px) {
    #menu {
        font-size: 100%;
    }
}

#menu ul {
    margin: 4px;
    padding: 0 8px;
    list-style: none;
    position: relative;
    display: inline-table;
}

#menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#menu ul li {
    float: left;
}

#menu ul li:hover > ul {
    display: block;
}

#menu a {
    color: #e0e0e0;
    text-decoration: none;
    text-shadow: 0 0 1px #a0a080;
    padding: 4px 6px;
}

@media all and (min-width: 800px) and (min-device-width: 800px) {
    #menu a {
        padding: 4px 20px;
    }
}

@media all and (min-width: 600px) and (min-device-width: 600px) {
    #menu a {
        padding: 4px 10px;
        border-right: 1px solid #f0efe7;
    }
    #menu > ul > li:first-child > a {
        border-left: 1px solid #f0efe7;
    }
}

#menu > ul > li > a:hover {
    color: #ffffff;
}

#menu ul ul {
    display: none;
    position: absolute;
    margin: 3px 0 0 0px;
    padding: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #8887a3;
    box-shadow: 0 2px 1px 1px #f0efe7;
    z-index: 1000;
}

#menu ul ul li {
    float: none;
    position: relative;
    padding: 6px 0;
    text-align: left;
}

#menu ul ul li a {
    border-right: none;
    color: #e0e0e0;
    text-shadow: none;
    padding: 0 10px;
}

#menu ul ul li a:hover {
    color: #ffffff;
}

#menu img {
    position: absolute;
}

#menu ul ul li img {
    position: relative;
}

span#githublink {
    display: none;
}

@media all and (min-width: 500px) and (min-device-width: 500px) {
    span#githublink {
        display: inline;
    }
}

/*****************************************************************************/

div.major-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 10px;
}

div.major-projects div {
}

div.other-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
    padding-top: 16px;
}

div.sponsoring {
    border-top: 1px solid #c0c0c0;
}

div.sponsorlist {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

div.sponsorlist div {
    padding: 4px 40px 4px 0;
    margin: auto 0;
}

.box {
    display: block;
    padding: 6px 8px 6px 48px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #f8f8f0;
}

.box img {
    position: absolute;
    margin-left: -40px;
    margin-top: 4px;
}

.box a {
    text-decoration: none;
}

.box:hover {
    background-color: #ffffff;
}

.box:hover h3 {
    text-decoration: underline;
}

div.other-projects .box {
    padding: 8px 8px 8px 38px;
}

div.other-projects .box img {
    margin-left: -24px;
    margin-top: 0px;
}

div.other-projects .box h3 {
    margin: 0 0 4px 0;
}

/*****************************************************************************/

div.impressum {
    text-align: right;
    font-size: 90%;
    border-top: 1px solid #c0c0c0;
    margin: 40px auto 2px auto;
    padding-top: 2px;
    max-width: 900px;
}

/*****************************************************************************/

.desc {
    display: block;
    margin: 30px 0 30px 0px;
    padding: 6px 8px 6px 48px;
    border-radius: 4px;
    text-decoration: none;
}

.desc img {
    position: absolute;
    margin-left: -40px;
    margin-top: 4px;
}

.desc a {
    text-decoration: none;
}

.desc:hover h3 {
    text-decoration: underline;
}

.desc h1 {
    margin: 0 0 0 40px;
    padding: 6px 0 2px 0;
}

.desc p {
    margin: 1px 0 0 40px;
}

/*****************************************************************************/

#osmcode {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 20px;
}

#osmcode img {
    position: absolute;
    margin-left: 10px;
}

@media all and (min-width: 600px) and (min-device-width: 600px) {
    #osmcode img {
        margin-left: 80px;
    }
}

#osmcode div.title {
    position: relative;
    margin-left: 130px;
    height: 100px;
    padding-top: 10px;
    font-size: 32px;
    line-height: 1.5ex;
}

@media all and (min-width: 600px) and (min-device-width: 600px) {
    #osmcode div.title {
        margin-left: 200px;
    }
}

@media all and (min-width: 700px) and (min-device-width: 700px) {
    #osmcode div.title {
        font-size: 36px;
    }
}

@media all and (min-width: 800px) and (min-device-width: 800px) {
    #osmcode div.title {
        font-size: 44px;
    }
}

#osmcode div.subtitle {
    position: relative;
    margin-left: 135px;
    top: -38px;
}

@media all and (min-width: 600px) and (min-device-width: 600px) {
    #osmcode div.subtitle {
        margin-left: 205px;
    }
    #osmcode div.subtitle {
        font-size: 150%;
    }
}

/*****************************************************************************/

table.build-status {
    border-collapse: collapse;
}

table.build-status tbody tr:hover {
    background-color: #ffffff;
}

table.build-status tr > th {
    border-bottom: 1px solid #202060;
}

table.build-status tr th {
    text-align: left;
    vertical-align: top;
    padding: 2px 10px 2px 10px;
}

table.build-status tr td {
    padding: 2px 10px 2px 10px;
}

table.build-status img {
    position: relative;
    top: 2px;
}

table.build-status img.badge {
    height: 20px;
}

/*****************************************************************************/

div.example-img {
    float: right;
    background-color: #ffffff;
    margin: 0 10px 20px 20px;
    min-width: 320px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #000000;
}

@media all and (min-width: 600px) and (min-device-width: 600px) {
    width: 400px;
    padding: 10px 15px;
}

div.example-img img {
    border: 1px solid #202020;
    border-radius: 4px;
}

div.example-img div {
    font-size: 90%;
    line-height: 2ex;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

