
div.highlighter-rouge pre .hll { background-color: #ffffcc }
div.highlighter-rouge pre  { background: #f8f8f8; }
div.highlighter-rouge pre .c { color: #408080; font-style: italic } /* Comment */
div.highlighter-rouge pre .err { border: 1px solid #FF0000 } /* Error */
div.highlighter-rouge pre .k { color: #008000; font-weight: bold } /* Keyword */
div.highlighter-rouge pre .o { color: #666666 } /* Operator */
div.highlighter-rouge pre .cm { color: #408080; font-style: italic } /* Comment.Multiline */
div.highlighter-rouge pre .cp { color: #BC7A00 } /* Comment.Preproc */
div.highlighter-rouge pre .c1 { color: #408080; font-style: italic } /* Comment.Single */
div.highlighter-rouge pre .cs { color: #408080; font-style: italic } /* Comment.Special */
div.highlighter-rouge pre .gd { color: #A00000 } /* Generic.Deleted */
div.highlighter-rouge pre .ge { font-style: italic } /* Generic.Emph */
div.highlighter-rouge pre .gr { color: #FF0000 } /* Generic.Error */
div.highlighter-rouge pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.highlighter-rouge pre .gi { color: #00A000 } /* Generic.Inserted */
div.highlighter-rouge pre .go { color: #808080 } /* Generic.Output */
div.highlighter-rouge pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
div.highlighter-rouge pre .gs { font-weight: bold } /* Generic.Strong */
div.highlighter-rouge pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.highlighter-rouge pre .gt { color: #0040D0 } /* Generic.Traceback */
div.highlighter-rouge pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
div.highlighter-rouge pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
div.highlighter-rouge pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
div.highlighter-rouge pre .kp { color: #008000 } /* Keyword.Pseudo */
div.highlighter-rouge pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
div.highlighter-rouge pre .kt { color: #B00040 } /* Keyword.Type */
div.highlighter-rouge pre .m { color: #666666 } /* Literal.Number */
div.highlighter-rouge pre .s { color: #BA2121 } /* Literal.String */
div.highlighter-rouge pre .na { color: #7D9029 } /* Name.Attribute */
div.highlighter-rouge pre .nb { color: #008000 } /* Name.Builtin */
div.highlighter-rouge pre .nc { color: #0000FF; font-weight: bold } /* Name.Class */
div.highlighter-rouge pre .no { color: #880000 } /* Name.Constant */
div.highlighter-rouge pre .nd { color: #AA22FF } /* Name.Decorator */
div.highlighter-rouge pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
div.highlighter-rouge pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
div.highlighter-rouge pre .nf { color: #0000FF } /* Name.Function */
div.highlighter-rouge pre .nl { color: #A0A000 } /* Name.Label */
div.highlighter-rouge pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
div.highlighter-rouge pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
div.highlighter-rouge pre .nv { color: #19177C } /* Name.Variable */
div.highlighter-rouge pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.highlighter-rouge pre .w { color: #bbbbbb } /* Text.Whitespace */
div.highlighter-rouge pre .mf { color: #666666 } /* Literal.Number.Float */
div.highlighter-rouge pre .mh { color: #666666 } /* Literal.Number.Hex */
div.highlighter-rouge pre .mi { color: #666666 } /* Literal.Number.Integer */
div.highlighter-rouge pre .mo { color: #666666 } /* Literal.Number.Oct */
div.highlighter-rouge pre .sb { color: #BA2121 } /* Literal.String.Backtick */
div.highlighter-rouge pre .sc { color: #BA2121 } /* Literal.String.Char */
div.highlighter-rouge pre .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
div.highlighter-rouge pre .s2 { color: #BA2121 } /* Literal.String.Double */
div.highlighter-rouge pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
div.highlighter-rouge pre .sh { color: #BA2121 } /* Literal.String.Heredoc */
div.highlighter-rouge pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
div.highlighter-rouge pre .sx { color: #008000 } /* Literal.String.Other */
div.highlighter-rouge pre .sr { color: #BB6688 } /* Literal.String.Regex */
div.highlighter-rouge pre .s1 { color: #BA2121 } /* Literal.String.Single */
div.highlighter-rouge pre .ss { color: #19177C } /* Literal.String.Symbol */
div.highlighter-rouge pre .bp { color: #008000 } /* Name.Builtin.Pseudo */
div.highlighter-rouge pre .vc { color: #19177C } /* Name.Variable.Class */
div.highlighter-rouge pre .vg { color: #19177C } /* Name.Variable.Global */
div.highlighter-rouge pre .vi { color: #19177C } /* Name.Variable.Instance */
div.highlighter-rouge pre .il { color: #666666 } /* Literal.Number.Integer.Long */
