<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8">
        <title>{{ page.title }} - osmcode</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/projects.html">PROJECTS &#x25be;</a>
                    <ul>
                        <li><a href="/libosmium/"><img src="/img/logo-libosmium-16x16.png" width="16" height="16" alt=""/> Osmium Library</a>
                        <li><a href="/osmium/"><img src="/img/logo-osmium-16x16.png" width="16" height="16" alt=""/> Osmium Tool</a>
                        <li><a href="/node-osmium/"><img src="/img/logo-node-osmium-16x16.png" width="16" height="16" alt=""/> Node Osmium</a>
                        <li><a href="/pyosmium/"><img src="/img/logo-pyosmium-16x16.png" width="16" height="16" alt=""/> PyOsmium</a>
                        <li><a href="/osmium-contrib/"><img src="/img/logo-osmium-contrib-16x16.png" width="16" height="16" alt=""/> Osmium Contrib</a>
                        <li><a href="/osm-testdata/"><img src="/img/logo-osm-testdata-16x16.png" width="16" height="16" alt=""/> OSM Test Data</a>
                    </ul>
                </li>
                <li><a href="/docs.html">DOCUMENTATION</a></li>
<!--                <li><a href="/news.html">NEWS</a></li>-->
                <li><a href="/contact.html">CONTACT</a></li>
                <li><a class="github" href="https://github.com/osmcode"><span id="githublink"><img src="/img/github.png" width="16" height="16"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>CODE</a></li>
            </ul>
        </div>
        <div id="content">
{{ content }}
        </div>
    </body>
</html>
