<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - OSMCODE</title>
        <!--<link rel="stylesheet" href="/css/syntax.css">-->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
        </div>
        <div class="content">
{{ content }}
        </div>
        <div class="footer">
            info@osmcode.org - <a href="https://github.com/osmcode/">github.com/osmcode</a>
        </div>
    </body>
</html>
