<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8">
        <title>{{ page.title }} - osmcode</title>
        <link rel="stylesheet" href="/css/main.css">
{% if page.js %}
        <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/js/osmcode.js"></script>
        <script type="text/javascript">//<![CDATA[
{{ page.js }}
//]]></script>
{% endif %}
    </head>
    <body>
        <header id="menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/status.html">STATUS</a></li>
                <li><a href="/docs.html">DOCUMENTATION</a></li>
<!--                <li><a href="/news.html">NEWS</a></li>-->
                <li><a href="/sponsors.html">SPONSORS</a></li>
                <li><a href="/contact.html">CONTACT</a></li>
                <li><a class="github" href="https://github.com/osmcode"><span id="githublink"><img src="/img/github.png" width="16" height="16"/>&nbsp;&nbsp;&nbsp;</span>CODE</a></li>
            </ul>
        </header>
        <main>
{{ content }}
        </main>
    </body>
</html>
