<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>osmcode</title>
        <!--<link rel="stylesheet" href="/css/syntax.css">-->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="osmcode">
            <div class="header large">
                <a href="/">o&middot;s&middot;m&middot;c&middot;o&middot;d&middot;e</a>
                <p>Welcome to osmcode.org, a repository of software for use with OpenStreetMap.</p>
            </div>
        </div>
        <div class="content">
{{ content }}
        </div>
        <div class="footer">
            info@osmcode.org - <a href="https://github.com/osmcode/">github.com/osmcode</a>
        </div>
    </body>
</html>
